<% if type == :new
  action_cont = users_url
  button_type = "Sign up!"
elsif type == :login
  action_cont = session_url
  button_type = "Login"
end
   %>

<form action="<%= action_cont %>" method="post">
  <input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label for="email">
    Email
    <input
      type="text"
      name="user[email]">
  </label>

  <label for="password">
    Password:
    <input
      type="password"
      name="user[password]">
  </label>

<button type="submit" class="button"><span><%= button_type %></span></button>
</form>
